export(char2helloworld)
export(HWplot)
exportClasses(helloworld)
exportMethods(helloworld)
exportMethods(print)
exportMethods(show)
import(ggplot2)
import(igraph)
import(phylobase)
import(vegan)
importFrom(multtest,mt.maxT)
importFrom(multtest,mt.minP)
